.home{
  width: 1100px;
}

.freepik{
  font-size:10px;
  margin: 0 3%;
}

.indice{
  border: 1px solid darkgray;
  margin: 50px 10%;
  font-size: 20px;
  background-color: #f5f5f5;
}

.link{
  font-size: 22px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.link2{
    text-decoration: none;
    color: darkcyan;
}

.link2:hover{
  text-decoration: underline;
}